---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Loading...</h1>
            <div class="user_profile"></div>
        </div>

        <script>
            const title = document.querySelector(
                ".title",
            ) as HTMLHeadingElement;
            const profile = document.querySelector(
                ".user_profile",
            ) as HTMLDivElement;

            const checkAuth = async () => {
                const res = await fetch("http://localhost:3000/check-auth", {
                    credentials: "include",
                });

                if (res.ok) {
                    const data = await res.json();
                    title.innerText = "Welcome to Profile page";
                    profile.innerHTML = `
                        <ul>
                            <li>Username: ${data.user.username}</li>
                            <li>First name:  ${data.user.firstname}</li>
                            <li>Last name:  ${data.user.lastname}</li>
                        </ul>
                        <button>Logout</button>
                    `;

                    const logoutBtn = document.querySelector(
                        "button",
                    ) as HTMLButtonElement;
                    logoutBtn.addEventListener("click", async (e) => {
                        await fetch(`http://localhost:3000/api/users/logout`, {
                            credentials: "include",
                        });
                        window.location.href = "/login";
                    });
                } else {
                    console.error();
                    window.location.href = "/login";
                }
            };
            checkAuth();
        </script>
    </body>
</html>
